:root {
    --brend-color: #757575;
    --blue-color: #2196f3;
    --style-color: #212121;
    --white-color: #ffffff;
    --black-color: #000;
    --hero-color: #2f303a;
    --phone-color: rgba(255, 255, 255, 0.6);
    --btn-color: #f5f4fa;
    --footer-bord-color: #2f303a;
    --portfolio--bord-color: #eeeeee;
    --header-bord-color: #ececec;
    --icons-social: #AFB1B8;
    --icons-bgn: rgba(255, 255, 255, 0.1);
    --hero-bgn: rgba(47, 48, 58, 0.4);
    --cubik: cubic-bezier(0.4, 0, 0.2, 1);
}

// Змінні SCSS

$body-font: "Roboto", sans-serif;
$portfolio-font:"Roboto";
$logo-font: "Raleway";

